/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --body-color: hsl(220, 100%, 97%);
  --title-color: hsl(220, 8%, 10%);
  --text-color: hsl(220, 8%, 40%);
  --white-color: hsl(0, 0%, 100%);
  --container-color: hsl(220, 8%, 96%);
  --opacity-color-30: hsla(0, 0%, 90%, 0.3);
  --opacity-color-20: hsla(0, 0%, 90%, 0.2);
  --navbar-color: hsl(213, 100%, 30%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 0.938rem;
  --biggest-font-size: 2.5rem;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 6rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

input,
button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-semi-bold);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--navbar-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: var(--z-fixed);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  font-size: var(--big-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 2rem;
}

.main {
  overflow: hidden;
}
/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-semi-bold);
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}
/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--navbar-color);
    padding-top: 1rem;
  }
}

.nav__link {
  color: var(--white-color);
  background-color: var(--navbar-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color, 0.3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}
/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}
/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}
/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--navbar-color);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color 0.3s;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: var(--black-color);
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transform: max-height 0.4s ease-out;
}
/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}
/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}
/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/* Show dropdown menu */
.dropdown__item:hover .dropdown__menu {
  opacity: 1;
  top: 5.5rem;
  pointer-events: initial;
  transition: top 0.3s;
}
/* Show dropdown submenu */
.dropdown__subitem:hover > .dropdown__submenu {
  opacity: 1;
  top: 0;
  pointer-events: initial;
  transition: top 0.3s;
}

/*=============== HOME ===============*/
.home {
  position: relative;
}

.home__bg,
.home__blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home__bg {
  object-fit: cover;
  object-position: center;
}

.home__blur {
  background-color: var(--opacity-color-20);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  transition: background-color 0.4s;
}

.home__container {
  position: relative;
  padding-block: 2rem 3rem;
  row-gap: 3rem;
}

.home__data {
  text-align: center;
  color: var(--white-color);
}

.home__title {
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  line-height: 100%;
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 2rem;
}

.home__swiper {
  max-width: 320px;
  border-radius: 1.5rem;
}

/* Swiper class */
.home__swiper .swiper-button-prev::after,
.home__swiper .swiper-button-next::after {
  content: "";
}

.home__swiper :is(.swiper-button-prev, .swiper-button-next) {
  color: var(--white-color);
  font-size: 1.5rem;
  background-color: var(--opacity-color-30);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  width: 2rem;
  height: 2rem;
  top: initial;
  border-radius: 0.25rem;
  bottom: 1.25rem;
  transition: background-color 0.4s;
}

.home__swiper .swiper-button-prev {
  left: initial;
  right: 4rem;
}
.home__swiper .swiper-button-next {
  right: 1.25rem;
}

/* Change background header */
.bg-header {
  background-color: var(--body-color);
  box-shadow: 0 8px 16px hsla(0, 0%, 0%, 0.1);
}

.bg-header :is(.nav__logo, .nav__toggle, .nav__theme) {
  color: var(--title-color);
}

/*=============== BUTTON ===============*/
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--navbar-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: 0.5rem;
  transition: background-color 0.4s;
}

.button i {
  font-weight: initial;
  font-size: 1.5rem;
  transition: transform 0.4s;
}

.button:hover i {
  transform: translateX(0.5rem);
}

.button__opa-30 {
  background-color: var(--opacity-color-30);
}

.float-button {
  position: fixed;
  transform: translate(108px, 0px);
  bottom: 4%;
  right: 0;
  width: 150px;
  padding-left: 4px;
  overflow: hidden;
  background-color: #25d366;
  color: #fff;
  border-radius: 40px 0 0 40px;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  vertical-align: middle;
}

.float-button:hover {
  transform: translate(0px, 0px);
}

.float-button span {
  color: white;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 10px;
  position: absolute;
  line-height: 16px;
  font-weight: bolder;
}

.float-button i {
  font-size: 30px;
  color: white;
  line-height: 30px;
  padding: 10px;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
  text-align: center;
}

/*=============== ABOUT ===============*/
.about__data {
  text-align: center;
}

.about__container {
  row-gap: 2.5rem;
}

.about__description {
  margin-bottom: var(--mb-2);
  color: var(--black-color);
}

.about__img {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.about__img-overlay {
  overflow: var(--img-hidden);
}

.about__img-one {
  width: 130px;
}

.about__img-two {
  width: 180px;
}

.about__img-one,
.about__img-two {
  transition: var(--img-transition);
}

.about__img-one:hover,
.about__img-two:hover {
  transform: var(--img-scale);
}

/*=============== TABEL RINCIAN BIAYA ===============*/
.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #eee;
  text-align: center;
}

.table th {
  background-color: darkblue;
  color: #fff;
}
/* .table tbody tr:nth-child(even) {
  background-color: #f3f3;
} */
/*=============== FORM PENDAFTARAN ===============*/

.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: var(--navbar-color);
}
.form button:hover {
  background: rgb(88, 56, 250);
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--navbar-color);
  padding-block: 4rem 2rem;
}

.footer__container {
  row-gap: 3rem;
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  justify-self: flex-start;
  color: var(--white-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
}

.footer__content {
  grid-template-columns: repeat(2, max-content);
  gap: 3rem;
}
.footer__title {
  color: var(--white-color);
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer__links {
  display: grid;
  row-gap: 0.75rem;
}

.footer__link {
  color: var(--white-color);
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  color: var(--white-color);
  font-size: 1.5rem;
  transition: transform 0.4s;
}

.footer__social-link:hover {
  transform: translateY(-0.25rem);
}

.footer__copy {
  display: block;
  margin-top: 6rem;
  color: var(--white-color);
  text-align: center;
  font-size: var(--small-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }

  .home__title {
    font-size: 2.5rem;
  }
  .footer__content {
    grid-template-columns: max-content;
  }
}

@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }

  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: 400px;
    justify-content: center;
  }

  .home__swiper {
    max-width: 400px;
  }
  .footer__content {
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 768px) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about__data,
  .about__title {
    text-align: initial;
  }
  .about__title {
    margin-bottom: var(--mb-1-5);
  }
  .about__description {
    margin-bottom: var(--mb-2);
  }
  .footer__content {
    grid-template-columns: repeat(4, max-content);
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }

  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }

  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s, top 0.3s;
  }

  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }
  .home__container {
    grid-template-columns: 520px 700px;
    align-items: center;
    padding-block: 6rem 9rem;
    gap: 0;
  }

  .home__data {
    text-align: initial;
    transform: translateX(3rem);
    z-index: 5;
  }

  .home__description {
    padding-right: 6rem;
    margin-bottom: 4rem;
  }

  .home__swiper {
    max-width: 700px;
    transform: translateX(-3rem);
  }

  .home .swiper-button-prev,
  .home .swiper-button-next {
    bottom: 2rem;
  }

  .home .swiper-button-prev {
    right: 4.5rem;
  }
  .home .swiper-button-next {
    right: 2rem;
  }
  .about__img-two {
    width: 290px;
  }
  .footer {
    padding-top: 4.5rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer__logo {
    justify-self: flex-start;
  }

  .footer__content {
    column-gap: 4.5rem;
  }
  .footer__title {
    margin-bottom: 1.5rem;
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.4;
  }
}
